@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.sidebar{
    background-color:rgba(12, 117, 88, 0.546);;
    width: 321px;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}

.sidebar nav{
    padding: 4px;
}

.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 33px;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{
    width: 88%;
}

.container{
    display: flex;
}
.skills_section{
    width: 88%;
    height: 100vh;
    padding: 0px 13%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
    font-size: 50px;
    margin-bottom: -5px;
}
.skills_head h2 span{
    color: #554def;
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.29);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #5562ed;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 75%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}
.skill_bar .bar .js{
    width: 30%;
    animation: js 2s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 30%;
    }
}
.skill_bar .bar .rn{
    width: 40%;
    animation: rn 2s;
}
@keyframes rn {
    0%{
        width: 0%;
    }100%{
        width: 40%;
    }
}
.skill_bar .bar .py{
    width: 80%;
    animation: python 2s;
}
@keyframes py {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .c{
    width: 75%;
    animation: C 2s;
}
@keyframes c {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}
